mixin createPostForm(userLoggedIn)
    .PostFormContainer
        .userImageContainer
            img(src="userLoggedIn.profilePic", alt="User profile picture")
        .textareaAContainer
            textarea#postTextarea(placeholder="What happening?")   
            .buttonsContainer 
                button#submitPostButton(disabled="") Post 